
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <p>
        <% post?.category?.title %>
    </p>
    <p>Tags: 
        <% post.tags.forEach(function(tag) { %>
            <span><%= tag %></span>
        <% }); %>
    </p>

