<section class="section main-section">
  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        Create New Post
      </p>
    </header>
    <div class="card-content">
      <form action="/posts/store" method="post" enctype="multipart/form-data">
        <div class="field">
          <div class="field-body">
            <div class="field">
              <label class="label">Title</label>

              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="postTitle"
                  placeholder="Post Title"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select">
              <select name="postCategory">
                <% categories.forEach(category => { %>
                <option value="<%= category._id %>">
                  <%= category.title %>
                </option>
                <% }) %>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Post Detail</label>
          <div class="control">
            <textarea
              class="textarea"
              name="postContent"
              placeholder="Post Detail"
            ></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Tags</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="postTags"
              placeholder="Tags"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Featured Image</label>
          <div class="control">
            <input type="file" name="featuredImage" accept="image/*" />
          </div>
        </div>

        <div class="field grouped">
          <div class="control">
            <button type="submit" class="button green">Submit</button>
          </div>
          <div class="control">
            <button type="reset" class="button red">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
